
<div {{ attributes.addClass('get-started-block experience-banking-api-block') }}  >
    <div class="col-sm-6 get-started-left-image">
        {{content.field_banner_image}}
    </div>
    <div class="col-sm-6 get-started-right-body footer-part">
        <div class="get-started-inner-part">
            <h1>
                {{content.field_block_title}}
            </h1>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 get-started-body right-banner-content-footer">
                {{content.body}}
                {% if content.field_additional_buttons is not empty  %}
                    {{content.field_additional_buttons}}
                {% endif %}
            </div>
        </div>
    </div>

</div>


