<div {{ attributes.addClass('get-started-block') }} >
    <div class="col-sm-6 get-started-left-image">
      {{content.field_image}}
    </div>
    <div class="col-sm-6 get-started-right-body">
      <div class="get-started-inner-part">
        {{content.field_block_title}}
        <h2>{{content.field_block_sub_title}}</h2><hr class="get-started-line">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 get-started-body">
          {{content.body}}
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 get-started-buttons">
          {{content.field_addon_buttons}}
        </div>
      </div>
    </div>

  </div>


