{#
/**
 * @file redoc-ui-field-item.html.twig
 * Default theme implementation for Swagger UI field items.
 *
 * Available variables:
 * - field_name: The name of the field.
 * - delta: The delta of the field item.
 *
 * @ingroup themeable
 */
#}
<div id="redoc-ui-{{ field_name }}-{{ delta }}">
    <redoc spec-url={{ file_url }}></redoc>
</div>
