section#block-views-block-api-products-homepage-block-1 .api-details{
    padding: unset;
}

section#block-views-block-api-products-homepage-block-1 .api-product-padding {
    padding: unset;
}
.no-image-padding h3 {
  font-size: 30px;
  padding-bottom: 20px
}
.api-product-padding {
  padding: 20px;
}
#block-accountnew {
    padding-top: 30px;
    padding-bottom: 30px;
}
#block-accountnew p {
    color: #4e4e4e;
    font-size: 18px;
    line-height: 1.8;
    padding-top: 30px;
    text-align: justify;
    padding: unset;
}
#block-paymentnew {
    padding-top: 30px;
    padding-bottom: 30px;
}
#block-paymentnew p {
    color: #4e4e4e;
    font-size: 18px;
    line-height: 1.8;
    padding-top: 30px;
    text-align: justify;
    padding: unset;
}
#block-opendatanew {
    padding-top: 30px;
    padding-bottom: 30px;
}
#block-opendatanew p {
    color: #4e4e4e;
    font-size: 18px;
    line-height: 1.8;
    padding-top: 30px;
    text-align: justify;
    padding: unset;
}
#block-fundsnew {
    padding-top: 30px;
    padding-bottom: 30px;
}
#block-fundsnew p {
    color: #4e4e4e;
    font-size: 18px;
    line-height: 1.8;
    padding-top: 30px;
    text-align: justify;
    padding: unset;
}
.contact-us-body {
  padding-top: 20px;
  padding-bottom: 40px;
}
.view-contact-us-page .view-header p {
  padding-top: 10px;
}
.contact-forms a {
  color: #fff;
  float: left;
  text-decoration: none;
  background-color: #AE285D;
}
section#block-views-block-delight-apps-list-with-videos-block-1 .view-header .line {
    width: 40px;
    position: relative;
    margin: unset;
    border-bottom: 4px solid #AE285D;
}
.padding-reset {
    padding: unset;
}
.padding-top {
    padding: unset;
    padding-top: 20px;
}
#block-experiencebankingdelightappstopbanner p {
  font-size: 20px;
}
.api-details-experience h2 {
    padding-bottom: 3px;
    color: #4e4e4e;
    font-size: 2.5rem;
    font-weight: 900;
}
.api-details-experience p {
    color: #4e4e4e;
    font-size: 1.8rem;
    line-height: 1.6;
    text-align: justify;
}
.experience-apps {
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);
}
section#block-views-block-new-get-started-block-1 .view-content ol li{
    font-size: 18px;
}

section#block-views-block-new-get-started-block-1 .view-content ul li{
    font-size: 18px;
}
.view-contact-us-page .view-header .line {
  width: 40px;
  position: relative;
  margin: unset;
  border-bottom: 4px solid #AE285D;
}
#block-contactusnew {
    padding-top: 30px;
    padding-bottom: 30px;
}
#block-contactusnew p {
    color: #4e4e4e;
    font-size: 18px;
    line-height: 1.8;
    padding-top: 30px;
    text-align: justify;
    padding: unset;
}
#block-newexperienceblock p {
    color: #4e4e4e;
    font-size: 18px;
    line-height: 1.8;
    padding-top: 30px;
    text-align: justify;
    padding: unset;
}

#block-newexperienceblock {
    padding-top: 30px;
    padding-bottom: 30px;
}
.our-api-explore-block {
    padding-bottom: 40px;
    background-color: #F7FBFF;
    padding-top: 40px;
    margin: unset;
}
.our-api-explore-block .our-api-explore-right-banner-content p {
    color: #4e4e4e;
    font-size: 18px;
    line-height: 1.8;
    padding-bottom: 10px;
}
.our-api-explore-block .our-api-explore-right-banner-content h2 {
    font-size: 36px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #4e4e4e;
}
.our-api-explore-block .our-api-explore-right-banner-content .sign-up-button {
    color: #4e4e4e;
}
.our-api-explore-block .our-api-explore-right-banner-content .button-padding:hover .sign-up-button {
    color: #fff;
}
.our-api-explore-block .our-api-explore-left-banner-content {
  top: unset;
}
#block-getstartednew {
    padding-top: 30px;
    padding-bottom: 30px;
}
#block-getstartednew p {
    color: #4e4e4e;
    font-size: 18px;
    line-height: 1.8;
    padding-top: 30px;
    text-align: justify;
    padding: unset;
}

section#block-views-block-new-get-started-block-1 .view-header .line {
    width: 40px;
    position: relative;
    margin: unset;
    border-bottom: 4px solid #AE285D;
}

section#block-views-block-new-get-started-block-1 .view-content {
    padding-top: 30px;
}
.our-apis-page-footer-top-bar img{
    opacity: .6;
    border-top: 1px solid #d6d2d2;
}
.our-apis-footer-top-banner-body h2 {
    font-size: 36px;
    margin-bottom: 30px;
}
.our-apis-footer-top-banner-body p {
    font-size: 20px;
    line-height: 1.5;
}
#block-ourapinewblock p{
    color: #4e4e4e;
    font-size: 18px;
    line-height: 1.8;
    padding-top: 30px;
    text-align: justify;
    padding: unset;
}
section#block-views-block-api-products-homepage-block-1 .view-header .line {
  width: 40px;
  position: relative;
  margin: unset;
  border-bottom: 4px solid #AE285D;
}
section#block-views-block-api-products-homepage-block-1 .view-header p {
  margin-top: 15px;
}
section#block-views-block-api-products-homepage-block-1 {
  background-color: #fbfbfb;
}

section#block-views-block-api-products-homepage-block-1 .our-api-explore-right-banner-content {
  padding: 30px 60px 10px 60px;
}
#block-ourapinewblock {
    padding-top: 30px;
    padding-bottom: 30px;
}
.form-control {
    padding-left: 0px;
}
p {
  font-size: 18px;
  line-height: 1.7;
  text-align: justify;
}
section#block-views-block-delight-apps-list-with-videos-block-1 {
    padding: 60px 60px
}

#block-views-block-delight-apps-list-with-videos-block-1 .tab-content .delight-video-details{    
    padding: 20px 40px;
}
#block-views-block-delight-apps-list-with-videos-block-1 .tab-content {
    border: 1px solid #f5f5f5;
}
#block-views-block-delight-apps-list-with-videos-block-1 .nav-tabs > li.active > a,#block-views-block-delight-apps-list-with-videos-block-1 .nav-tabs > li.active > a:hover,#block-views-block-delight-apps-list-with-videos-block-1 .nav-tabs > li.active > a:focus {
    color: #fff;
    cursor: default;
    background-color: #ae275d;
    border: unset;
    border-radius: 0px;
}
#block-views-block-delight-apps-list-with-videos-block-1 .nav-tabs > li > a{
    color: #4E4E4E;
    border: 1px solid #ADADAD;
    border-radius: 0px;
    margin-bottom: 8px;
}

#block-views-block-delight-apps-list-with-videos-block-1 .nav-tabs {
    border-bottom: unset;
}

section#block-views-block-new-get-started-block-1 {
  padding: 0px 60px 60px 60px;
}

#block-views-block-new-get-started-block-1 .ckeditor-accordion-container > dl {
    border: unset;
    border-radius: 10px;  
}
#block-views-block-new-get-started-block-1 .ckeditor-accordion-container > dl dt > .ckeditor-accordion-toggle {
    border-radius: 0px;
    background: #adadad;
}
#block-views-block-new-get-started-block-1 .ckeditor-accordion-container > dl dt.active > .ckeditor-accordion-toggle {
    background: #ae275d;
    border: 1px solid #ae275d;
}
#block-views-block-new-get-started-block-1 .ckeditor-accordion-container > dl dt.active > a{
    background-color: #f5f5f5;
    border: unset;
    color: #ae285d;
    padding-top: 30px;
    font-size: 20px;
    font-weight: bold;
}
#block-views-block-new-get-started-block-1 .ckeditor-accordion-container > dl dd.active {
    background-color: #f5f5f5;
    color: #4E4E4E;
    padding-bottom: 30px;
}
#block-views-block-new-get-started-block-1 .ckeditor-accordion-container > dl dd > p {
    color:unset;
    padding-top: unset;
    padding-left: unset;
    font-weight: 400;
  font-size: 18px;
}

#block-views-block-new-get-started-block-1 .ckeditor-accordion-container > dl dt > a {
    background-color: unset;
    font-weight: 400;
    font-size: 20px;
}

#block-views-block-new-get-started-block-1 .ckeditor-accordion-container > dl dd {
    padding: 10px 100px;
}

#block-views-block-new-get-started-block-1 .ckeditor-accordion-container > dl dd > ul {
    padding-left: 20px;
    list-style: unset;
    line-height: unset;
    font-size: unset;
    padding-bottom: unset;
}
/* Start Custom Accordian */
#block-views-block-new-get-started-block-1 .accordian-header a img {
    width: 30px;
    float: left;
    margin-right: 20px;
}
/* End Custom Accordian */
.home-page-top-bar{
  position: relative;
}
.our-apis-page-top-bar{
  position: relative;
  color: #ffff;
}
.our-apis-page-footer-top-bar{
  position: relative;
  color: #000000;
}
.our-apis-top-banner-body hr.line, .my-apps-top-banner-body hr.line {
  width: 3%;
  margin: -8px auto;
  position: absolute;
  border-bottom: 3px solid #ffff;
}
.top-banner-body {
  position: absolute;
  top: 185px;
  display: block;
  z-index: 1;
  padding: 0px 60px;
}
.our-apis-top-banner-body, .my-apps-top-banner-body{
  position: absolute;
  top: 150px;
  display: block;
  z-index: 1;
  color: #ffffff;
  padding: 0px 60px;
}
.our-apis-footer-top-banner-body{
  position: absolute;
  top: 80px;
  display: block;
  z-index: 1;
  color: #000000;
  padding: 0px 60px;
}
.my-apps-details .my-app-add-button .btn-default {
  background-color: #AE285D;
}
/*.container-fluid.main-container {*/
  /*padding-left: 0px;*/
  /*padding-right: 0px;*/
/*}*/
/*.navbar-default .navbar-brand {*/
  /*padding: 15px 0px !important;*/
  /*color: #AE285D;*/
/*}*/
nav#block-open-banking-portal-revised-main-menu {
  margin-left: 361px;
  margin-top: 0px;
  font-size: 1.8rem;
}
section.open_banking_footer {
  background-color: #363636;
  min-height: 142px;
}
.container-fluid.main-container {
  padding-right: 0px;
  padding-left: 0px;
}
.get-started-left-image {
  padding: 0px !important;
}
.get-started-right-body {
  background-color: #AE285D;
  padding: 0px 30px;
}

.get-started-right-body .field.field--name-field-block-title{
  /*padding: 84px 0 0 0;*/
  font-size: 28px;
}
.get-started-right-body .field--name-field-block-sub-title{
  font-size: 36px;
  line-height: 1.3;
  padding: 20px 0px;
}
.get-started-inner-part {
  /*padding: 10px 30px;*/
  margin-top: 94px;
}
.get-started-right-body, .get-started-left-image img{
  min-height: 603px;
}
.content_footer .get-started-right-body, .content_footer .get-started-left-image img{
  min-height: 569px;
}
.first-half-body {
    min-height: 290px;
    padding: 40px 40px 0px 40px;
}
.button-left-side{
  margin-top: 150px;
  padding: 0px;

}
.navbar{
  margin-bottom: 0px;
  margin-top: -11px;
  height: 111px;
}
/*ul.menu.menu--main.nav.navbar-nav {*/
  /*height: 124px;*/
  /*margin-top: -12px;*/
/*}*/
ul.menu.menu--main.nav.navbar-nav li a {
  padding-top: 40px;
  padding-right: 20px;
  height: 100px;
  margin-top: 10px;
  color: #000000;
  font-size: 18px;
}
ul.menu.menu--main.nav.navbar-nav li a:hover, ul.menu.menu--main.nav.navbar-nav li a:focus {
  background-color: #AE285D;
  color: #ffffff;
}
ul.menu.menu--account.nav.navbar-nav.navbar-right {
  margin-top: 40px;
  margin-right: 45px;
}
ul.menu.menu--account.nav.navbar-nav.navbar-right a {
  border: 1px solid black;
  margin-right: 5px;
  padding: 10px 15px;
  color: #000000;
  font-size: 17px;
  border-radius: 6px;
}
ul.menu.menu--account.nav.navbar-nav.navbar-right a:hover {
  color: #ffffff;
  border-color: #AE285D;
  background-color: #AE285D;
}
section.open_banking_content_footer .container-fluid {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.menu-footer-margin {
  margin-top: 50px;
  padding-left: 125px;
}
.menu-footer-margin a {
  color: #ffffff;
  font-weight: 600;
  font-size: 19px;
}
.login-form {
   width: 100%;
   float: left;
  padding: 65px 0px 0px 0px;

 }
.login-form h2{
  color: #AE285D;
  font-size: 30px;
}
.our-api-footer-block{
  padding: 0px;
  background-color: #AE285D;
}
.sign-up-popup-button{
  color: #000000;
}
.sign-up-popup-button:hover{
  color: #ffffff;
}
.region-content-footer. banner-links.button-padding .btn {
   border: 1px solid white;
 }
.region-content-footer .banner-links.button-padding .btn a:hover {
  background-color: white;
}
/*.get-started-left-image img{*/
  /*height: 406px;*/
/*}*/
.image-right-side {
  float: right;
  padding: 0px;
}
.get-started-buttons .button-padding .block-btn a:after, .api-details a:after {
  content: '\003E';
  margin-left: 10px;
}
.right-side-form {
  padding: 30px;
}
.left-side-image img{
  height: 821px;
  width: 100%;
}
.right-side-form {
  padding: 30px;
}
.left-side-image{
  padding-left: 0px;
  padding-right: 0px;
}
.user-login-form label, .user-forgot-pass label {
  color: #000000;
  font-size: 1.7rem;
  font-weight: normal !important;
  /*padding-top: 30px;*/
  /*padding-bottom: 30px;*/
}
.btn .glyphicon.icon-before, .btn.icon-before .glyphicon{
  display: none;
}
.forgot-pass-right-form{
  padding-top: 30px;
}
.user-forgot-pass.login-form-popup {
  padding-top: 70px;
}
.btn-primary:focus, .btn-primary.focus{
  background-color: #AE285D;
  border-color: #AE285D;
}
.footer-title{
  font-weight: 300;
}
.our-api-explore-left-banner-content{
  padding: 0px;
  top: 45px;
}
.our-api-explore-right-banner-content{
  font-family: Montserrat;
  padding: 40px;
  padding-top: 80px;
}
.our-api-left-banner-content {
  padding: unset;
}
.our-api-right-banner-content{
  color: white;
  font-family: Montserrat;
  padding: 57px;
  padding-top: 100px;
}
div#drupal-modal{
  padding-right: 0%;
}
div#drupal-modal--content{
  width: 90%;
}
div#drupal-modal--content .modal-footer .modal-buttons button {
  background-color: #AE285D;
  width: 70%;
  font-size: 1.9rem;
  border-color: #AE285D;
}

dl.knowledge-table-bank {
    border: 1px solid #f4f4f4;
}
dl.knowledge-table-bank dt {
    border: 1px solid #f4f4f4;
    background-color: #fafafa;
    padding: 10px 30px;
}
dl.knowledge-table-bank dd {
    padding: 10px 30px;
}
.form-control:focus{
  box-shadow: unset;
}
.stickynav-active {
  position: fixed !important;
  background-color: #ffffff;
  top: 0px;
  z-index: 1000;
  width: 100%;
  height: 111px;
}
nav.tabs {
  display: none;
}
.register-left-fields {
  padding-left: 0px;
  padding-right: 0px;
}

.register-form-popup p{
  text-align: center;
  font-size: 16px;
}
.btn-success:focus, .btn-success.focus{
  border-color: #AE285D;
}
.has-glyphicons .select-wrapper:after {
  border-color: #AE285D;
}
.contact-us-page .top-banner-body{
  top: 90px;
  color: #ffffff;
}
.contact-us-page hr.line{
  border-bottom: 3px solid white;
  width: 3%;
}
.contact-us-inner-part {
  position: absolute;
  top: 30%;
  padding-left: 30px;
  padding-right: 30px;
}
.main-container {
  min-height: 390px;
}
.view-id-contact_us_page{
  padding-left: 60px;
  padding-right: 60px;

}
.contact-forms {
  padding-left: 0px;
  padding-right: 0px;
}
.contact-us-header {
  padding-top: 0px;
  padding-bottom: 21px;
}
.ckeditor-accordion-container > dl dt > .ckeditor-accordion-toggle{
  display: inline-block;
  position: absolute;
  padding: 0 8px;
  width: 30px;
  height: 30px;
  z-index: 1;
  top: calc(21% - 1px);
  left: unset;
  right: 30px;
  box-sizing: border-box;
  border: 1px solid #d3d3d3;
  background: #AE285D;
  border-radius: 20px;
}

/* Toggle Button for swagger*/
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/* End Toggle Button for swagger */
.swagger-toggle-block {
  float: right;
}
.get-started-block h2{
  font-size: 36px;
  color: #363636;
  text-align: left;
}
.get-started-body p {
  font-size: 20px;
  line-height: 1.6;
  padding: 0px;
  color: #fff;
  text-align: justify;
}
.contact-us-bg img{
  height: 496px;
}
.form-required:after {
  content: '*';
}
.contact-us-forms {
  padding-left: 60px;
  padding-right: 60px;
}
.contact-form {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  padding: 40px;
  margin-top: 40px;
  margin-bottom: 40px;
  background-color: #F7FBFF;
}
.webform-submission-report-a-bug-add-form .form-control, form#webform-submission-business-enquiry-add-form .form-control, form#webform-submission-general-enquiry-add-form .form-control, form#webform-submission-request-new-feature-add-form .form-control{
  background-color: #F7FBFF;
  border-bottom: 1px solid #C9BDBD !important;
}
input.webform-counter-warning, input.form-text.webform-counter-warning, textarea.webform-counter-warning, textarea.form-textarea.webform-counter-warning{
  background-color: #F7FBFF;
}
.contact-us-form-top {
  border-bottom: 1px solid #F5F5F5;
  padding-bottom: 25px;
}
.webform-submission-get-in-touch-form input{
  border-top: unset;
  border-left: unset;
  border-right: unset;
  box-shadow: unset;
  border-radius: unset;
}
textarea.form-control {
  height: auto;
  box-shadow: unset;
  border-left: unset;
  border-top: unset;
  border-right: unset;
  border-radius: unset;
}
.api-details-experience {
    background-color: #F7FBFF;
    min-height: 297px;
    padding: 20px 15px;
}

section#block-views-block-api-products-experience-banking-block-1 {
    padding: 40px 60px;
}

section#block-views-block-api-products-experience-banking-block-1 .padding-unset {
    margin-bottom: 20px
}

section#block-views-block-api-products-experience-banking-block-1 .padding-unset .image-padding-experience {
  padding: unset;
}
h3 {
  font-size: 43px;
  font-weight: 500;
}
h1{
  font-size: 70px;
}
h5 {
  font-size: 22px;
}
.content-header-margin {
  padding-top: 20px;
}
.content-header-margin h5 {
  padding: 0px 0px 0px 26px;
  font-size: 19px;
}

/*#block-newhomepagetopbanner img{
  height: 750px;
}*/
.top-banner-body h3 {
  font-size: 32px;
}
.top-banner-body .banner-links.button-padding {
  padding: 40px 0px 0px 26px;
}

.api-product-section{
  padding: 0px;
}
.api-product-section-0, .api-product-section-2 {
  padding-right: 6px !important;
}
.api-product-section-0, .api-product-section-1 {
  padding: 0px;
  margin-top: 60px;
}
.api-product-section-2, .api-product-section-3 {
  padding-top: 0px !important;
  padding-bottom: 40px;
}
.get-started-right-body.footer-part .field.field--name-field-block-title {
  font-size: 36px;
}
.footer-part .get-started-inner-part {
  margin-top: 0px;
  padding: 70px 10px 0px 23px;
}
.right-banner-content-footer .button-padding {
  /*padding: 69px 0px 115px 0px !important;*/
}
.footer{
  padding-top: 30px;
}
.footer .field.field--name-body{
  padding-top: 0px;
}
/*ul.menu.menu--main.nav.navbar-nav{*/
  /*padding-left: 158px;*/
/*}*/
/*ul.menu.menu--main.nav.navbar-nav li {*/
  /*padding-right: 25px;*/
/*}*/
/*.user-login-form input{*/
  /*padding-bottom: 30px;*/
/*}*/
.register-form-popup .form-item.js-form-item.form-type-password.js-form-type-password.form-item-pass-pass1.js-form-item-pass-pass1.form-group.password-parent {
  width: 50%;
  display: inline-block;
}
.register-form-popup .form-item-pass-pass2 {
  width: 49%;
  display: inline-block;
  float: right;
  padding-left: 5px;
}
.my-apps-analytics-form .sign-up-button {
  padding: 10px 30px;
  background-color: #AE285D;
}
.my-apps-analytics-form .sign-up-button:hover{
  background: #AE285D;
  color: #FFFFFF;
  box-shadow: 0 14px 26px -12px rgba(153, 153, 153, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(153, 153, 153, 0.2);
}
.top-banner-body h2 {
    font-size: 36px;
    line-height: 1.5;
    margin-top: 42px;
}
.top-banner-body hr {
  margin-bottom: 10px;
}
.user-logged-in li.Top-menu-accounts.Sign.Up {
  display: none;
}
ul.menu.menu--main.nav.navbar-nav {
  padding-left: 4%;
}
.top-banner-body h1 {
  font-size: 62px !important;
}
.our-api-explore-right-banner-content h1 {
  font-size: 40px;
}
div#block-footerleftlink-2 p {
  font-size: 16px !important;
}
.login-page {
  overflow: hidden;
  margin: 0px;
  height: 100%;
}
.messages__wrapper p {
  font-size: 16px !important;
}
.alert-danger {
  color: #AE285D;
  background-color: #C9BDBD;
  border-color: #AE285D;
}
/*div#block-newexperiencetopbanner .banner-links {
  margin-top: -53px;
}*/
div#block-newexperiencetopbanner .banner-links .get-touch-popup-button {
  color: black;
}
div#block-newexperiencetopbanner .banner-links .get-touch-popup-button:hover {
  color: white;
}
#block-experiencebankingdelightappstopbanner .top-banner-body {
  color: black;
}
footer {
  padding-top: 15px;
  padding-bottom: 10px;
}
body.js--padding-fix {
  padding-top: 100px !important;
}
.my-apps-description p {
          font-size: 18px;
          line-height: 1.5;
}
.user-logged-in div#sign-up {
  display: none;
}
.dontdisplay {
  display: none;
}
.forgot-pass-mail-link .form-item-pass-pass1 {
  width: 100% !important;
}
.forgot-pass-mail-link .form-item-pass-pass2{
  width: 100%;
}
.forgot-pass-mail-link input{
  border-top: unset;
  border-left: unset;
  border-right: unset;
  box-shadow: unset;
  border-radius: unset;
  /*margin: 20px 0px;*/
}
.forgot-pass-mail-link button:hover, .forgot-pass-mail-link button:focus{
  background-color: #AE285D;
  border-color: #AE285D;
}
.forgot-pass-mail-link {
  padding-top: 40px;
}
.reset-pass .login-form{
  padding-top: 40px;
}
.reset-pass .right-side-form {
  padding: 30px 60px;
}
.forgot-pass-mail-link p {
  text-align: center;
  font-size: 1.7rem;
}
.pass-condition {
  padding: 0px !important;
}
.login-form.register-form {
  padding: 0px;
}
form#user-login-form {
  padding-top: 30px;
}
.path-frontpage .contextual-region{
  position: unset !important;
}
/* Authentication css  for swagger*/
div#tpp-auth-btn input, div#user-auth-btn input {
  width: 25%;
  text-align: center;
  background-color: #AE285D;
  border-color: #AE285D;
  color: white;
}
#user-popup-fields, #tpp-popup-fields{
  display: none ;
}
.user-container #TPPOAuth2Security, .tpp-container #PSUOAuth2Security,.tpp-container .user_id{
  display: none;
}
#TPPOAuth2Security label#consent_id, #TPPOAuth2Security input#consent_id{
  display: none;
}

.path-teams .table-responsive,
.apigee-edge-teams-team-app-analytics,
.path-teams #team-add-form,
.path-teams .team-form,
.path-teams #team-delete-form,
.path-teams .team-app-edit-form,
.path-teams #apigee-edge-teams-edit-team-member-form,
.team-app-add-for-team-form{
    padding: 0px 60px 60px 60px;
}

.path-teams .list-inline.local-actions {
    padding: 0px 40px 0px 40px;
}

.path-teams .breadcrumb {
    margin: 0px 40px 0px 40px;
}

.team-app--view-mode-full {
    padding: 0px 60px 0px 60px;
}

.path-add-team #team-add-form,
.apigee-edge-teams-add-team-member-form {
    padding: 0px 60px 60px 60px;
}

