/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 6 Dec, 2018, 9:28:34 AM
    Author     : kiranchaitanya
*/
.main-container {
    min-height: 500px;
}
body {
    margin-top: 0px;
    font-family: 'Montserrat', sans-serif !important;
    font-style: normal;
    font-stretch: normal;
    padding-top: unset !important;
}

/*section.open_banking_content_footer, section.open_banking_header {*/
    /*color: #ffffff;*/
    /*background-image: linear-gradient(141deg, #0e5dd6, #03265b);*/

/*!*    background-image: linear-gradient(141deg, #0e7b86, #0e7b86);*!*/
/*}*/
section.open_banking_content_footer, section.open_banking_header {
    color: #0f0f0f;
    background-color: #ffffff;

}
section.open_banking_footer {
    color: white;
    opacity: 0.9;
    background-color: #0E5DD6;
    min-height: 142px;
    font-size: 16px;
/*    background-color: #0e7b86;*/
}
.row {
    margin-right: 0px !important;
    margin-left: 0px !important;
}
div.content_footer, div.content_header{
    padding: 0px;
    /*padding-bottom: 45px;*/
}
.footer {
    border-top: none;
    margin-top: 0px;
}
.left-banner-content h1{
    font-size: 5.3125rem;
    line-height: 1.15em;
}
.left-banner-content h3 {
    font-size: 2.5625rem;
    line-height: 1.4em;
}
.left-banner-content h3.experience-banking-h3-padding {
    font-size: 2.5625rem;
    line-height: 0em;
    margin-bottom: 30px;
    margin-top: 0px;
}
.left-banner-content h5 {
    font-size: 1.67rem;
    line-height: 1.55em;
}
.left-banner-content .button-padding, .right-banner-content-footer .button-padding, .left-banner-content .ajax-form{
    margin-left: 0px;
    padding: 31px 0px;
}
.left-banner-content .button-padding .block-btn, .ajax-form .sign-up-button,.sign-up-button {
    font-size: 1.8rem;
    width: auto;
    padding: 11px 23px;
    margin-right: 7px;
    color: #ffffff;
    border-width: 0.5px;
    border-style: solid;
    border-color: #AE285D;
    border-radius: 4px;

}
.right-banner-content-footer .button-padding .block-btn{
    font-size: 1.8rem;
    width: auto;
    padding: 11px 23px;
    margin-right: 7px;
    color: #ffffff;
    border-width: 0.5px;
    border-style: solid;
    border-color: #ffffff;
    border-radius: 4px;

}
.right-banner-content-footer .button-padding .block-btn:hover {
    background: white !important;
}
.right-banner-content-footer .button-padding .block-btn:hover a{
    color: #AE285D;

}
.ajax-form .sign-up-button{
    background-color: transparent;
}
.left-banner-content .button-padding .btn:hover,.right-banner-content-footer .button-padding .btn:hover ,.ajax-form .sign-up-button:hover, .sign-up-button:hover{
    background: #AE285D;
}
.sign-up-button a{
    color: #000000;
    font-size: 18px;
}
.sign-up-button:hover a{
    color: white;

}
.sign-up-button a:hover{
    text-decoration: none;
    /*color: #ffffff;*/
}
.left-banner-content .button-padding .btn a, .right-banner-content-footer .button-padding .btn a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}
blockquote.orange {
    padding: 0px;
    font-size: 1.5rem;
    border-left: 5px solid;
    border-color: #AE285D;
    padding-left: 20px;
    height: 122px !important ;
}
.left-banner-content .content-header-margin {
    margin-left: 24px;
}
hr.line {
    width: 7%;
    margin: -8px auto;
    position: absolute;
    border-bottom: 3px solid #00bdf5;
}
/*Report bug and  other webform popup*/
.path-webform .ui-dialog.ui-corner-all.ui-widget.ui-widget-content.ui-front {
    width: 65% !important;
    max-height: fit-content !important;
    margin-left: auto;
    margin-right: 0px;
    display: block;
    /* left: 200px; */
}
.path-webform div#drupal-modal {
    padding-right: 0px;
}

.left-banner-content h2, right-banner-content-footer h2{
    padding: 10px 0px;
    margin: 1.75rem 0 0.875rem;
    display: inline-block;
    position: relative;
    margin-top: 30px;
    min-height: 32px;
    text-decoration: none;
    font-size: 41px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.18;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}
.left-banner-content p, .right-banner-content-footer p{
    padding: 10px 0px;
    font-size: 19px;
    line-height: 1.75;
    opacity: 0.92;
}
section.experience-banking-delight-apps {
    background-color: #FF724A;
    color: #ffffff;
    padding: 30px 0px;
}
section.experience-banking-api-header, section.our-api-signup-block {
    padding: 30px 0px;
}
.signup-left-banner-content h1 {
    font-size: 3.3125rem;
    line-height: 1.15em;
}
.get-started-block {
    padding: 0px;
    color: #ffffff;
    margin-top: -4px;
    position: unset;
}
.path-frontpage .get-started-block h2 {
    color: white;
    margin: 0px;
}
.path-frontpage .get-started-body p {
    font-size: 18px;
    line-height: 1.8;
    padding: 0px;
    color: white;
    margin-top: 20px;
}
.get-started-buttons .button-padding {
    padding: 83px 0px 0px 0px;
    float: right;
}
.get-started-buttons .button-padding .block-btn {
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    position: relative;
    min-width: auto;
    font-size: 22px;
    min-height: auto;
    box-shadow: 0 2px 2px 0 rgba(156, 39, 176, 0.14), 0 3px 1px -2px rgba(156, 39, 176, 0.2), 0 1px 5px 0 rgba(156, 39, 176, 0.12);
    background-color: #000000;
/*    background-color: #0e7b86;*/
}
.get-started-buttons .button-padding .block-btn:hover{
    box-shadow: 0 14px 26px -12px rgba(156, 39, 176, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(156, 39, 176, 0.2);
    background-color: #000000;
/*    background-color: #0e7b86;*/
}
.get-started-buttons .button-padding .block-btn a {
    text-transform: uppercase;
    color: white;
    font-size: 19px;
    text-decoration: none;
}
section.block-views-blockapi-products-homepage-block-1 h2.block-title, section.block-views-blockapi-products-experience-banking-block-1 h2.block-title, section.block-views-blockdelight-apps-list-with-videos-block-1 h2.block-title {
    display:none;
}
div.homepage-api-product-list {
    color: rgba(0, 0, 0, 0.87);
    width: 100%;
    border: 0;
    display: flex;
    position: relative;
    min-width: 0;
    word-wrap: break-word;
    font-size: .875rem;
    /*margin-top: 95px;*/
    background: #F7FBFF;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    transition: all 300ms linear;
    margin-bottom: 30px;
    border-radius: 6px;
    flex-direction: column;
}
.api-product-padding {
    flex: 1 1 auto;
    /*padding: 2.9375rem 1.875rem;*/
}
.api-product {
    padding-top: 8px;
    padding-bottom: 8px;
    margin: 0;
    padding: 0;
    position: relative;
    list-style: none;
}
/*.api-list {*/
    /*padding-left: 24px;*/
    /*padding-right: 24px;*/
    /*width: 100%;*/
    /*display: flex;*/
    /*position: relative;*/
    /*box-sizing: border-box;*/
    /*text-align: left;*/
    /*padding-top: 12px;*/
    /*padding-bottom: 12px;*/
    /*justify-content: flex-start;*/
    /*text-decoration: none;*/
/*}*/
.image-padding {
    padding: 15px 11px;
}
.image-padding-experience {
    padding: 15px 15px;
}
.api-details-experience h2 {
    padding-bottom: 3px;
    color: black;
    font-size: 2.5rem;
    font-weight: 900;
}
.api-details-experience p {
    color: #000000;
    font-size: 1.8rem;
    line-height: 3.3rem;
}
.api-details h2{
    padding-bottom: 15px;
    color: #4e4e4e;
    font-size: 32px;
    font-weight: 900;
}
.api-details p {
    color: #4e4e4e;
    font-size: 18px;
    line-height: 1.8;
    padding-top: 30px;
    text-align: justify;
}
.api-details a {
    float: left;
    font-size: 22px;
    font-weight: 500;
    text-transform: capitalize;
    color: #AE285D;
    padding-left: 58px;
}
.api-details a:hover {
    color: #AE285D;
    text-decoration: none;
}
@-moz-document url-prefix() {
  img.playimage {
    margin-top: -82% !important;
    margin-left: 55% !important;
   }
}
.our-api-explore-block h2 {
    color: #000000;
    font-size: 3.5rem;
}
.our-api-explore-block {
    padding: 30px 0px;
}
.our-api-explore-block .our-api-line{
    width: 40px;
    border-bottom: 4px solid #00bdf5;
}
.signup-left-banner-content h2 {
    padding: 16px 0px;
    margin: 1.75rem 0 0.875rem;
    display: inline-block;
    position: relative;
    margin-top: 30px;
    min-height: 32px;
    font-weight: 700;
    font-size: 3.8rem;
    text-decoration: none;
    color: black;
}
.signup-left-banner-content p {
    line-height: 3rem;
    font-size: 1.8rem;
}
.signup-left-banner-content .button-padding .sign-up-button {
    margin-left: 15px;
    padding: 10px 0px;
    background-color: rgb(25, 88, 245);
}
.signup-left-banner-content .button-padding .sign-up-button a{
    font-size: 1.8rem;
    color: white;
}
.signup-left-banner-content .button-padding .sign-up-button a:hover{
    text-decoration: none;
}
.signup-left-banner-content .button-padding .sign-up-button:hover {
    background: #FF724A;
    color: #FFFFFF;
    box-shadow: 0 14px 26px -12px rgba(153, 153, 153, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(153, 153, 153, 0.2);
}
.user-logged-in .use-ajax.static-para.sign-up-get-started:hover ,.user-logged-in .use-ajax.knowledge-para.sign-up-get-started:hover {
    text-decoration: none !important;
    color: #337ab7;
}
.experience-banking-api-block .right-banner-content-footer {
    padding: 80px 10px
}
.experience-banking-api-header .experience-banking-api-block {
    padding: 30px 80px;
    margin-top: -7%;
    color: rgba(0, 0, 0, 0.87);
    border: 0;
    position: relative;
    min-width: 0;
    word-wrap: break-word;
    font-size: .875rem;
    background: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    transition: all 300ms linear;
    margin-bottom: 30px;
    border-radius: 6px;
    flex-direction: column;
}
/*.experience-banking-api-block .right-banner-content-footer p {
    color: #ffffff;
    font-size: 21px;
    padding-top: 12px;
    line-height: 35px;
}*/

.experience-banking-api-block .right-banner-content-footer h4 {
    color: #000000;
    font-size: 1.9rem;
    font-weight: bold;
    line-height: 2em;
}
.experience-banking-api-block .right-banner-content-footer h1 {
    color: #000000;
    font-size: 3.8rem;
    font-weight: bold;
    line-height: 1.07;
}
.experience-banking-delight-apps .right-banner-content {
    padding: 30px 85px;
}
.experience-banking-delight-apps .left-banner-content p {
    line-height: 3.3rem;
    padding: 3px 0px;
}
.experience-banking-delight-apps .left-banner-content h2 {
    line-height: 1.5em;
}
.experience-banking-delight-api-block {
    padding: 30px 0px;
}
.experience-banking-delight-api-block h2 {
    font-weight: 300;
    font-size: 2.9em;
    line-height: 1.4em;
}
.experience-banking-delight-api-block h3 {
    font-weight: 400;
    color: black;
    font-size: 1.9em;
    line-height: 1.4em;
}
.delight-apps {
    padding: 30px 0px;
}

.api-product-homepage .api-page-0, .api-product-homepage .api-page-1, .api-product-homepage .api-page-2 {
    color: white;
    padding: 90px 47px;
    padding-bottom: 43px;
    box-shadow: 0 1px 11px 0 rgba(0, 0, 0, 0.16);
}
.api-product-homepage .api-page-0 {
    background-color: #16a9e8;
}
.api-product-homepage .api-page-1 {
    background-color: #fe714a;
}
.api-product-homepage .api-page-2 {
    background-color: #16a9e8;
}
.api-product-homepage .api-page-0 h2,.api-product-homepage .api-page-1 h2, .api-product-homepage .api-page-2 h2 {
    font-size: 2.7rem;
    font-weight: 700;
}
.line-our-api {
    width: 30.2px;
    height: 4.7px;
    opacity: 0.92;
    background-color: #ffffff;
}
.api-product-homepage .api-page-0:hover,.api-product-homepage .api-page-1:hover, .api-product-homepage .api-page-2:hover{
    z-index: 1;
    transform: scale(1.1,1.1);
}
.api-product-homepage .api-page-0 p,.api-product-homepage .api-page-1 p, .api-product-homepage .api-page-2 p {
    font-size: 1.53rem;
    line-height: 30px;
    font-weight: 200;
}
.api-product-homepage .api-content {
    min-height: 332px;
    display: inline-block;
}

.api-product-homepage .documentation-link {
    margin-top: 40px;
}

.api-product-homepage .button-padding .block-btn {
    padding: 8px 38px;
    background-color: rgb(25, 88, 245);
}
.api-product-homepage .button-padding .block-btn a {
    color:white;
    font-size: 1.8rem;
}
.api-product-homepage .button-padding .block-btn a:hover{
    text-decoration: none;
}
.delight-video video {
    width: 100% !important;
    height: auto;
}
.body-padding {
    width: 100%;
    height: 650px;
    overflow: hidden;
    display: inline-block;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
    border-radius: 2px;
    margin: 30px 20px 0px 0px;
}
@media (min-width: 768px){
.navbar-text {
    float: none !important;
    margin-right: 15px;
    margin-left: 15px;
}
}
.navbar-text {
    margin-top: auto !important;
}
.path-webform .ui-dialog.ui-corner-all.ui-widget.ui-widget-content.ui-front {
    width: 70% !important;
    left: 50px !important;
}
.api-header-icon{
    height: 200px;
    margin-top: 40%;
    padding-top: 30%;
    padding-bottom: 20%;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    line-height: 1.5em;
    width: 200px;
}
.api-header-title {
    text-align: center;
    line-height: 1.5em;
    margin-top: 13px;
    font-weight: bold;
    font-size: 17px;
    color: #3c4858;
}
.api-header-img img.img-responsive {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 30px;
    width: 30px;
}
.api-header-line{
    width: 9%;
    margin: 10px auto;
    border-bottom: 3px solid #00bdf5;
}
.block-views-blockget-started-api-icon-block-block-1 h2.block-title{
    text-align: center;
    font-size: 45px;
    line-height: 1.5em;
    color: #000000;
    font-weight: bold;
    margin-top: 40px;
}
.api-header, .get-started-line{
    width: 40px;
    border-bottom: 4px solid #0e7b86;
}
.numberCircle li {
    width: 45px;
    height: 45px;
    line-height: 40px;
    display: inline-block;
    border-radius: 100px;
    background: #fff;
    border: 2px solid #f1f1f1;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 20px;
    margin-left: 110px;
}

.numberCircle li::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -100%;
    width: 185px;
    height: 1px;
    background: black;
    z-index: -1;
    margin-left: 82px;
}

.step-4 .numberCircle li:first-child::before {
 display: none;
}

.numberCircle li:after{

}
.numberCircle {
    margin-left: 45%;
    color: #343232;
    font-weight: bold;
    font-size: 0.75rem;
    padding-bottom: 48px;
    padding-top: 30px;
}
.container-fluid.api-icon-homepage {
    margin: 60px;
    margin-left: 0px;
    margin-right: 0px;
}
.Top-menu {
    padding-top: 15px;
}
.open_banking_header .navbar-brand{
    color: #AE285D !important;
    font-size: 22px !important;
    font-weight: bold !important;
    padding: 15px 0px !important;
}
.title-slogan {
    color: #000000;
    font-size: 14px;
    line-height: 0.2rem !important;
}
.slogan{
    line-height: 1.3
}
nav#block-open-banking-portal-main-menu {
    margin-left: 361px;
    margin-top: 15px;
    font-size: 1.8rem;
}
#block-open-banking-portal-main-menu a{
    color: white;

}
.menu--main a.is-active{
    color: #ffffff !important;
    border-bottom: unset;
    background-color: #AE285D;
}
.nav > li > a:hover {
    text-decoration: none;
    background: rgba(200, 200, 200, 0.2);
}

.footer-block-menu a.account-menu{
    font-size: 15px;
    color: white;
    margin-right:30px;
}
.footer-block-menu a.account-menu:hover{
    text-decoration: none;
}
/*.footer-block-menu .menu-footer-margin {*/
    /*margin-top: 33px;*/
/*}*/

.api-details {
    padding: 0px 30px;
}

.api-details ul {
    padding-left:20px
}

.api-details ol {
    padding-left: 20px;
}

.api-details li, .api-details ol {
    color: #064bb5;
    font-size: 1.7rem;
    line-height: 3.3rem;
}
.Top-menu-account{
    padding-top: 0px;
    font-size: 1.8rem;
    float: right;
    margin-right: 45px;
}
.second-title-slogan {
   font-size: 11px;
   color: #000000;
    line-height: unset;
}
.region.region-navigation:hover {
   cursor: pointer;
}
.right-banner-content img {
    height: 300px;
    width: auto;
}
.right-banner-content,.right-banner-content-delight {
    padding-left: 20px;
    padding-right: 40px;
}
.open_banking_content_footer .left-banner-content-footer img {
    height: 300px;
    width: auto;
}
.open_banking_content_footer .left-banner-content-footer {
    padding-left: 40px;
    padding-right: 40px;
}
.delight-video-details h2 a {
    color: #000000;
    font-size: 2.5rem;
    text-align: justify;
    text-decoration: none;
}
.delight-video-details h2 a:hover {
    text-decoration: none;
}
.delight-video-details p {
    font-size: 17px;
}
.api-details .line {
    width: 35px;
    margin: -8px auto;
    position: absolute;
    /*border-bottom: 3px solid #00bdf5;*/
    border-bottom: 3px solid #AE285D;
}
.content_footer .right-banner-content-footer {
    padding: 10px 0px 0px 0px;
}
.delight-video-details {
    padding: 10px;
}
.left-banner-content-footer {
    padding-top: 30px;
}
.email-padding {
    padding: 0px 0px !important;
    margin: 0px;
}
/*Accordion arrow*/
.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
i.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-right: 5px;
}
.get-started-line {
    margin-bottom: 0px;
    float: left;
    margin-top: 0px;
    width: 51px;
    /*border-bottom: 4px solid #00bdf5;*/
    border-bottom: 4px solid #ffffff;
}
.image-padding-get-started img {
    width: 100%;
}


.form-item--error-message.alert.alert-danger.alert-sm{
    color: #FF724A !important;
}
.modal-header {
    padding: 15px;
    border-bottom: none;
}
/*modal-content ui-dialog ui-resizable ui-resizable-disabled ui-draggable ui-draggable-disabled{
    max-height: 484px;
    display: flex;
    flex-direction: column;
    width: 168% ;
}*/
div#drupal-modal--content {
    width: 166%;
    max-height: fit-content !important;
}
.login-left-image img {
    width: 79%;
}
/*Popup in contact us forms */
.path-webform .ui-dialog-titlebar.ui-corner-all.ui-widget-header.ui-helper-clearfix {
    /* display: none; */
    /* border: unset; */
    border: unset;
    background-color: white;
}
.path-webform .ui-dialog .ui-dialog-titlebar-close {
    background-color: #ffffff;
    border: 3px solid #ffffff;
    border-radius: 83px;
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    font-weight: bold;
    position: absolute;
    top: -28px;
    right: -28px;
    font-size: 25px;
    line-height: 30px;
    width: 40px;
    height: 40px;
    text-align: center;
    opacity: 1.0;
    margin-top: 25px;
    margin-right: -15px;
}
.path-webform .ui-dialog-title{
    display: none;
}

div#drupal-modal {
    padding-right: 30%;
}
.modal-title{
    display:none !important;
}
.login-left-image strong{
    color: black;
    font-size: 2.8rem;
}
.login-left-image {
    text-align: center;
}
.user-login-form label{
    color: #000000;
    font-size: 1.7rem;
    font-weight: normal !important;
}
.user-login-form .checkbox{
    margin-top: 0px !important;
    margin-left: -5px;
}
.forgot-pass-link{
    text-align: right;
    /*margin-top: 30px;*/
    padding-top: 5px;
}
.login-right-form p {
    padding-top: 10px;
    text-align: center;
    font-size: 1.7rem;
}
.login-right-form button, .forgot-pass-mail-link button {
    margin-top: 65px;
    margin-left: 0px;
    color: white;
    background-color: #AE285D;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 1.7rem;
    width: 52%;
    border-color: #AE285D;
    margin-left: auto;
    margin-right: auto;
    display: block;

}
.login-right-form button:hover{
    box-shadow: 0 14px 26px -12px rgba(156, 39, 176, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(156, 39, 176, 0.2);
    background-color: #AE285D;
    color: white;
    border-color: #AE285D;

}
.login-right-form .form-checkbox{
    position: absolute;
/*    opacity: 0;*/
    cursor: pointer;
    height: 0;
    width: 0;
}
/*.remember-me{
    position: absolute;
    top: 0;
    left: 0;
    height: 19px;
    width: 19px;
    background-color: #eee;
}*/
/*#example1 label input:checked ~ .remember-me {
  background-color: #FF724A;
}
#example1 label input:checked ~ .remember-me:after {
  display: block;
}*/
/*.remember-me:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}*/
.sign-up-popup-button {
    background: transparent !important;
    border: 1px solid #AE285D;
}
.sign-up-popup-button:hover {
    background: #AE285D !important;
    color: #AE285D;
}
.user-logged-in .sign-up-popup-button {
    display: none;
}
video#popupvid {
    height: 323px;
}

.user-login-form .form-item-persistent-login label .form-checkbox:before, .user-register-form .form-checkbox:before, .form-checkbox:before{
    content: " ";
    background-color: white;
    border: 1px solid black;
    width: 20px;
    height: 20px;
    position: absolute;
    left: -12px;
    top: -3px;
    color: #fff;
    padding: 0px 17px 21px 7px;
    border-radius: 5px;
}

.user-login-form .form-item-persistent-login label .form-checkbox:checked:before ,.user-register-form .form-checkbox:checked:before, .form-checkbox:checked:before{
/*    content: "✔";*/
    content: "\2713\0020";
    background-color: #AE285D;
    border-color: #AE285D;
/*     content: "\2713";*/
/*content: "L";*/
}

.user-login-form  .form-item--error-message.alert.alert-danger.alert-sm, .user-register-form .form-item--error-message.alert.alert-danger.alert-sm  {
    border-color: white;
    background-color: white;
}
.user-login-form .has-error .control-label, .user-register-form .has-error .control-label{
    color:black;
}
.user-login-form .form-control, .user-register-form .form-control, .user-forgot-pass .form-control, .user-form .form-control{
   border-bottom: 1px solid #C9BDBD;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    box-shadow: unset;
    border-radius: 0px;
/*    padding-top: 35px;*/
    /*padding-bottom: 30px;*/

}
.user-login-form .has-error .form-control, .user-register-form .has-error .form-control{
    box-shadow: unset !important;
}
a.sign-up{
    color: #AE285D;
}
.forgot-pass-link a {
    color: black;
    font-size: 1.7rem;
}
.forgot-pass-link a:hover{
  text-decoration: none;
  color: black;
}
.form-item-pass-pass1 .password-field, .form-item-pass-pass1 .password-strength{
    /*width: 392px;*/
}
.form-item-pass-pass2 .password-field{
    width: 467px;
}
.register-form-popup strong{
    font-size: 2.6rem;
    color: black;
}
.user-register-form label {
   font-size: 1.7rem;
    line-height: 3rem;
    font-weight: unset;
    color: black;
}
.user-register-form {
    padding-top: 20px;
}
.form-item-pass-pass2{
/*    padding-left: 471px;
    margin-top: -133px;*/

}
.form-item-pass-pass2 {
    width: 50%;
}
.form-item-terms-condition{
    text-align: center;
    padding-bottom: 20px;
}
.register-form-popup .form-submit{
    background-color: #AE285D !important;
    color: white !important;
    border-color: #AE285D !important;
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-size: 1.8rem;
    text-transform: initial;
    padding-right: 70px;
    padding-left: 70px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 25px;
}
alert.alert-success.alert-dismissible {
    display: none;
}
p.sub-title {
    padding: 40px;
    display: none;
}
.row.get-in-touch-form-popup {
    padding: 40px;
    padding-bottom: 0px;
}
.get-in-touch-form-popup strong {
    font-size: 35px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.18;
    letter-spacing: normal;
    text-align: left;

}
.webform-submission-get-in-touch-form{
  padding-top: 20px;
}
.webform-submission-get-in-touch-form .form-control:focus{
  border-color: #bcb6b6;
}
.webform-submission-get-in-touch-form .webform-button--submit{
    border-color: #FF724A;
    background-color: #FF724A;
    padding: 10px 50px;
    margin-left: 41%;
}
.Top-menu-account a {
    font-size: 1.6rem;
    width: auto;
    padding: 14px 23px;
    color: #ffffff;
    border-width: 0.5px;
    border-style: solid;
    border-color: #ffffff96;
    border-radius: 4px;
    background-color: transparent;
    margin-left: 10px;
}
.Top-menu-account a:hover {
    text-decoration: none;
    background-color: #FF724A;
    color: #ffffff;
}

.ajax-progress-throbber, .ajax-progress {
    display: none;
}
.user-logged-in .Top-menu-account a.account-menu:nth-child(2) {
    display: none;
}
.our-api-product-title h2 {
    font-weight: 700;
    color: #0042A7;
    font-size: 3.0rem;
}
.documentation-our-api .homepage-api-product-list .no-image-padding p,.documentation-our-api .homepage-api-product-list .no-image-padding ol {
    padding-bottom: 20px;
    font-size: 1.7rem;
    opacity: 0.75;
}
.documentation-our-api .homepage-api-product-list .image-padding h3 {
    padding-bottom: 20px;
}
.documentation-our-api{
    margin-top: 40px;
}
h4.opblock-tag {
    border: 1px solid rgba(59,65,81,.3);
}
.swagger-ui .info .title {
    font-size: 27px;
    font-weight: 700;
}
.swagger-ui .info .title small {
    display:none;
}
.swagger-ui .info .base-url {
    border: none;
    background-color: white;
    text-align: left;
    font-size: 16px;
    padding-left: 0px;
}
.swagger-ui .info a {
    display:none;
}
.swagger-ui .info .description {
    display: none;
}
.ckeditor-accordion-container > dl {
    position: relative;
    border: 1px solid #d3d3d3;
}
.ckeditor-accordion-container > dl dt > a:hover {
    text-decoration: none;
}
.ckeditor-accordion-container > dl dt > a {
    display: block;
    padding: 10px 15px 10px 50px;
    background-color: #fafafa;
    color: #AE285D;
    cursor: pointer;
    font-size: 2.4rem;
    -webkit-transition: background-color 300ms;
    transition: background-color 300ms;
    border-bottom: 1px solid #d3d3d3;
}
.ckeditor-accordion-container > dl dt.active > a {
    background-color: #fafafa;
}
.ckeditor-accordion-container > dl dt > a:hover {
    background-color: #fafafa;
}
.knowledge-bank {
    padding: 30px 0px;
}
.ckeditor-accordion-container > dl dd > p{
    padding-left: 33px;
    padding-top: 30px;
    font-size: 18px;
    color: #4E4E4E;
    font-weight: 600;
    line-height: 1.5;
}
.ckeditor-accordion-container > dl dd > ul {
    padding-left: 58px;
    padding-bottom: 15px;
    line-height: 1.8em;
    font-size: 16px;
    list-style: none;
}
.ckeditor-accordion-container > dl dt > .ckeditor-accordion-toggle {
    display: inline-block;
    position: absolute;
    padding: 0 10px;
    width: 30px;
    height: 30px;
    z-index: 1;
    top: calc(50% - 1px);
    left: unset;
    right: 11px;
    box-sizing: border-box;
}
.ckeditor-accordion-container > dl dt.active > .ckeditor-accordion-toggle:before {
    margin-top: 13px;
    transform: rotate(0deg);
}
.ckeditor-accordion-container > dl dt > .ckeditor-accordion-toggle:before {
    margin-top: 13px;
    left: unset;
    -webkit-transform: none;
    transform: none;
}
.ckeditor-accordion-container > dl dt.active > .ckeditor-accordion-toggle:after {
    margin-top: 13px;
    transform: none;
}
.ckeditor-accordion-container > dl dt > .ckeditor-accordion-toggle:after {
    margin-top: 13px;
    right: unset;
    left: unset;
    -webkit-transform: none;
    transform: rotate(90deg);
}
.ckeditor-accordion-container > dl dt > .ckeditor-accordion-toggle:before, .ckeditor-accordion-container > dl dt > .ckeditor-accordion-toggle:after {
    background: #fff;
    width: 12px;
    webkit-transition: all 0ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: all 0ms cubic-bezier(0.4, 0, 0.2, 1);
}
.ckeditor-accordion-container > dl dt > .ckeditor-accordion-toggle {
    display: inline-block;
    position: absolute;
    padding: 0 8px;
    width: 30px;
    height: 30px;
    z-index: 1;
    top: calc(21% - 1px);
    left: unset;
    right: 30px;
    box-sizing: border-box;
    border: 1px solid #d3d3d3;
    background: #ff724a;
    border-radius: 20px;
}
.ckeditor-accordion-container {
    border-radius: 8px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);
}
/*.ckeditor-accordion-container > dl dd > ul li:before {*/
    /*content: '';*/
    /*position: absolute;*/
    /*border-right: 2px solid black;*/
    /*border-bottom: 2px solid black;*/
    /*width: 7px;*/
    /*height: 7px;*/
    /*margin-top: 12px;*/
    /*left: 56px;*/
    /*transform: translateY(-50%) rotate(-45deg);*/
/*}*/
.my-app-details table tbody tr th {
    padding-left: 20px;
    border-top: none;
    width:20%;
}
.my-app-details table tbody tr td {
    color: #848484;
    border-top: none;
}
.my-apps-details .ckeditor-accordion-container > dl dd {
    padding: unset;
}
.my-apps-details .ckeditor-accordion-container > dl dd .panel-info {
    border-color: white;
}
.my-apps-details .ckeditor-accordion-container > dl dd .panel-info > .panel-heading {
    color: white;
    background-color: unset;
    border-color: white;
    padding: unset;
}
.my-apps-details .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: black;
    cursor: default;
    font-weight: 600;
    background-color: unset;
    border: none;
    border-bottom-color: unset;
}
.my-apps-details .nav-tabs > li > a {
    color: #797979;
    font-weight: 400;
}
.my-apps-details .nav-tabs {
    background-color: #F7FBFF;
}
.my-apps-details .ckeditor-accordion-container > dl dd .panel-info .panel-body {
    padding: unset;
}
.my-apps-details .my-apps-title {
    border-bottom: 1px solid #d3d3d3;
    font-size: 1.8rem;
    padding: 10px 20px;
    font-weight: 600;
}
.my-apps-details .my-apps-description {
    color: #8b8b8b;
    padding: 10px 20px;
    border-bottom: 1px solid #d3d3d3;
}
.my-app-keys table tbody tr th{
    border-top: none;
    width: 20%;
    padding-left: 20px;
}
.my-app-keys table tbody tr td {
    color: #848484;
    border-top: none;
}
.my-apps-details .ckeditor-accordion-container > dl dt > a {
    display: block;
    padding: 10px 15px 10px 50px;
    background-color: #fafafa;
    font-size: 1.5rem;
    color: black;
    cursor: pointer;
    -webkit-transition: background-color 300ms;
    transition: background-color 300ms;
    border-bottom: 1px solid #d3d3d3;
}
.my-apps-details .my-app-add-button {
    padding: 10px 18px;
    border-radius: 4px;
    margin-bottom: 45px;
}
.my-apps-details .my-app-add-button div {
    float:right;
}
.my-apps-details .my-app-add-button .btn-default {
    background-color: #0042a7;
}
.my-apps-details .my-app-add-button .btn-default a{
    color:#fff;
}
.my-apps-details .my-app-add-button .btn-default a:hover {
    text-decoration: none;
    color: #fff;
}
.my-apps-details .my-app-add-button .btn-default a label {
    font-size: 1.8rem;
}
/*.contact-forms{*/
    /*box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);*/
    /*height: 250px;*/
    /*width: 280px;*/
    /*padding-right: 20px ;*/
    /*margin-right: 10px ;*/
    /*margin-bottom: 35px;*/
    /*margin-top: 35px;*/
/*}*/
.contact-forms h3{
    font-size: 18px;
    font-weight: bold;
    color: #3c4858;
    padding-top: 20px;
}
.contact-us-line{
    width: 25px;
    margin: 10px auto;
    border-bottom: 3px solid #AE285D;
    margin-left: unset;

}
.contact-body{
    font-size: 15px;
    min-height: 70px;
}
.contact-us-choose{
    font-size: 3.9rem;
    color: #0042A7;
}
.contact-us-choose-subtitle{
    font-size: 3.9rem;
    color: #0042A7;
    font-weight: 600;
}
.contact-us-header {
    padding-top: 0px;
    padding-bottom: 00px;
}
.contact-us-body{
    padding-bottom: 60px;
    padding-top: 60px;
}
.contact-forms a{
    color: black;
    float:left;
    text-decoration: none;
/*    padding: 5px;
    border-width: 0.5px;
    border-style: solid;
    border-color: #333;
    border-radius: 45px;
    color: black;*/
}
.contact-us-btn img{
    height: 20px;
    /*transform: scaleX(-1);*/
    padding: unset !important;
    border: unset !IMPORTANT;
    margin-top: unset !important;
    margin-left: 5px;
}
.contact-us-btn{
    border-radius: 16px;
    background-color: transparent;
}
.contact-us-btn:hover, .contact-forms a:hover{
    background-color: #AE285D;
    color: white;
}
/*.contact-forms img{
    border: 1px solid black;
    padding: 5px;
    margin-top: -14px;
}*/
.contact-us-icon-shadow img {
    width: 31%;
}
.report-bug, .business-enquiry, .general-enquiry, .request-new-feature{
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    padding: 53px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
    margin-top: 50px;
}
.report-bug strong, .business-enquiry strong, .general-enquiry strong, .request-new-feature strong{

    font-size: 19px;
    font-weight: bold;
    color: #0042A7;

}
.contact-us--back-btn {
    float: right;
    border: none;
    min-height: 64px;
}
.contact-us--back-btn img{
    height: 20px;
    transform: scaleX(-1);
}
.contact-us--back-btn a {
   text-decoration: none;
   color: black;
}
.contact-us--back-btn a:hover{
   text-decoration: none;
   color: black;
}
.form-title{
    padding-left: unset !important;
}
#edit-processed-text p{
    margin-bottom: 37px;
    margin-top: 30px;
    font-size: 1.6rem;
}
.webform-submission-report-a-bug-add-form .form-control ,form#webform-submission-business-enquiry-add-form .form-control, form#webform-submission-general-enquiry-add-form .form-control,
form#webform-submission-request-new-feature-add-form .form-control{
    border-bottom: 1px solid black;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    box-shadow: unset;
    border-radius: 0px;
}
.bs-example{
    	margin: 20px;
}
.modal-content iframe{
    margin: 0 auto;
    display: block;
}
.delightvideo{
    width: 528px;
    height: 400px;
    margin-left: 0px;
    }
img.playimage {
    margin-top: -36%;
    position: absolute;
    z-index: auto;
    margin-left: 41%;
}
button.close.ui-dialog-titlebar-close {
    background-color: #ffffff;
    border: 3px solid #ffffff;
    border-radius: 83px;
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    font-weight: bold;
    position: absolute;
    top: -28px;
    right: -28px;
    font-size: 25px;
    line-height: 30px;
    width: 40px;
    height: 40px;
    text-align: center;
    opacity: 1.0;
    margin-top: 25px;
    margin-right: -15px;
}
iframe#popupvid {
    height: 320px;
}
.container-fluid {
    padding-right: 60px;
    padding-left: 60px;
}
.modal-body div#modal_delete_app {
    padding: 10px 40px;
}
.modal-body div#modal_delete_app .developer-app-name span em{
    font-style: unset;
}
.modal-body div#modal_delete_app p {
    margin-bottom: unset;
    font-size: 13px;
    line-height: 1.5;
}
.modal-body div#modal_delete_app .developer-app-name {
    padding: 20px 0px;
}
.modal-body div#modal_delete_app hr {
    margin-top: unset;
}
.modal-body div#modal_app_create_form .form-control, .modal-body div#modal_app_edit_form .form-control {
    border-bottom: 1px solid #C9BDBD;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    box-shadow: unset;
    border-radius: 0px;
    padding-top: 35px;
    padding-bottom: 10px;
    padding: 10px 0px;
}
.modal-footer {
    text-align: center;
    border-top: unset;
    margin-bottom: 15px;
}
.modal-footer .modal-buttons button {
    width: 35%;
    font-size: 1.9rem;
    background-color: #FF724A;
}
.modal-footer .modal-buttons button span:before{
    content:" ";
}
.modal-body div#modal_app_edit_form > form  a {
    display:none;
}
.modal-body div#modal_delete_app > form a {
    display: none;
}
#modal_app_create_form {
    padding: 10px 40px;
}
h2.create-add-form {
    padding-bottom: 20px;
}
#modal_app_create_form label {
    font-weight: 500;
    font-size: 1.5rem;
}
#modal_app_create_form .apigee-edge--form .fieldset-legend {
    font-weight: 500;
    font-size: 1.5rem;
}
#modal_app_edit_form {
    padding: 10px 40px;
}
h2.edit-add-form {
    padding-bottom: 20px;
}
#modal_app_edit_form label {
    font-weight: 500;
    font-size: 1.5rem;
}
#modal_app_edit_form .apigee-edge--form .fieldset-legend {
    font-weight: 500;
    font-size: 1.5rem;
}
.report-bug label, .request-new-feature label, .business-enquiry label, .general-enquiry label ,.webform-submission-get-in-touch-form label{
    font-weight: unset;
    color: black;
    font-size: 1.6rem;
}
a.contact-us{
    color: #FF724A;
}
/*.user-logged-in .Top-menu-account a {
    margin-right: 105px;
}*/
.user-logged-in .Top-menu-account {
   padding-top: 11px;
}
.form-item.js-form-item.form-type-password.js-form-type-password.form-item-pass-pass1.js-form-item-pass-pass1.form-group.password-parent {
    width: 50%;
}
.register-form-popup .form-item-pass-pass1{
    width: 50%;
    display: inline-block;
    /*float: left;*/
}
.register-form-popup .form-item-pass-pass2 {
    width: 49%;
    display: inline-block;
    float: right;
}
.form-item-pass-pass2 {
    /*width: 48%;*/
    /*margin-left: 465px;*/
    /*margin-top: -112px;*/
}
.nav > li > a {
    position: relative;
    display: block;
    padding: 14px 10px;
}
.my-app-analytics .my-apps-back-button {
    padding: 10px 18px;
    border-radius: 4px;
    margin-bottom: 45px;
}
.my-app-analytics .my-apps-back-button div {
    float:right;
}
.my-apps-analytics-form .app-analytic-title {
    padding: 10px 0px;
}
.my-apps-analytics-form #edit-label-container {
    font-size: 1.7rem;
}
.my-apps-analytics-form .form-item-metrics {
    margin-right: unset;
}
.my-apps-analytics-form .sign-up-button {
    padding: 10px 30px;
    background-color: rgb(25, 88, 245);
}
.my-apps-analytics-form .sign-up-button a{
    font-size: 1.8rem;
    color: white;
}
.my-apps-analytics-form .sign-up-button a:hover{
    text-decoration: none;
}
.my-apps-analytics-form .sign-up-button:hover {
    background: #FF724A;
    color: #FFFFFF;
    box-shadow: 0 14px 26px -12px rgba(153, 153, 153, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(153, 153, 153, 0.2);
}
.my-apps-back-button .btn-default {
    border: unset;
}
.my-apps-back-button .btn-default:hover {
    background-color: unset;
    border-color: unset;
}
.my-apps-back-button .btn-default a:hover{
    text-decoration: none;
    color: black;
}
.my-apps-back-button .btn-default a{
    color: black;
}
.my-apps-details .ckeditor-accordion-container > dl dd .panel-info > .panel-heading ul li a img{
    padding: 1px 3px 5px 0px;
}
.my-apps-details .nav-tabs > li > a > img {
    opacity: 0.5;
}
.my-apps-details .nav-tabs > li.active > a > img {
    opacity: unset;
}
.my-app-list-details .ckeditor-accordion-container {
    border-radius: unset;
    box-shadow: unset
}
.my-app-list-details .ckeditor-accordion-container > dl {
    position: relative;
    border: unset;
}
.my-app-list-details .ckeditor-accordion-container > dl > dt{
    margin-top: 30px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);
    border: 1px solid #ddd;
}
.my-app-list-details .ckeditor-accordion-container > dl > dd{
    margin-bottom: 30px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);
}
.my-app-list-details .ckeditor-accordion-container > dl > dt > a{
    color: #AE285D;
    background-color: #F7FBFF;
    font-size: 18px;
}
.my-app-list-details .my-app-api-products .table > tbody > tr > td > span{
    color:#4e4e4e;
    font-size: 1.2rem;
    padding: 0px 15px;
    margin-right: 10px;
    border: 1px solid #ccc8c8;
    border-radius: 14px;
    background-color: #eaeaea;
    font-weight: 500;
}
.my-app-list-details .my-app-api-products .table > tbody > tr > td {
    border-top:unset;
    padding: 17px 18px;
    font-size: 1.5rem;
    color: #065dc4;
    font-weight: 700;
}
.my-app-list-details .my-app-api-products .table > tbody > tr > td.last-right > span {
    width: 17%;
    text-align: center;
    text-transform: capitalize;
    float: right;
    margin-right: 50px;
    color: #ffffff;
    border: 1px solid;
    border-radius: 4px;
    font-size: 1.2rem;
    margin-top: 4px;
    font-weight: 400;
    padding: 2px 10px;
}
.my-app-list-details .my-app-details .table > tbody > tr > td > span {
    width: 17%;
    text-align: center;
    text-transform: capitalize;
    color: #ffffff;
    border: 1px solid;
    border-radius: 4px;
    font-size: 1.2rem;
    margin-top: 4px;
    font-weight: 400;
    padding: 2px 10px;
}
.my-app-list-details .my-app-details .table > tbody > tr > td > span.approved{
    background-color: #7ad836;
}
.my-app-list-details .my-app-api-products .table > tbody > tr > td > span.approved{
    background-color: #7ad836;
}
.my-app-list-details .my-app-api-products .table > tbody > tr > td > span.pending{
    background-color: #ffa200;
}
.my-app-list-details .my-app-api-products .table > tbody > tr {
    border-bottom: 1px solid #d8d6d6;
}
.navbar-toggle{
    background-color: #f5f5f5;
}
.contact-us-icon-shadow {
    height: 23px;
    margin-top: -19px;
}
.contact-us-icon img {
    width: 13%;
    margin-left: 18px;
    margin-top: 0px;
}
.my-apps-back-button img {
    width:12%;
}
.request-new-feature button#edit-submit,.business-enquiry button#edit-submit,.form-report button#edit-submit, .general-enquiry button#edit-submit{
    float:right;
    background-color: #AE285D;
    padding: 10px 20px;
    font-size: 1.5rem;
    margin-top: -2%;
    border-color: #AE285D;
}
.navbar-toggle .icon-bar {
    background-color: #000;
}
.no-image-padding {
    padding: 15px 11px;
}
.open_banking_footer .container-fluid {
    padding-right: 0px;
    padding-left: 40px;
}
a.static-para {
    float: none;
}
messages__wrapper {
    width: 50%;
    float: right;
    margin-top: -100px;
}
/*// Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    .content_header .left-banner-content h2 strong:before {
        content: "\A";
    }
    .image-padding-experience {
        display:none;
    }
    .opblock-section-header > h4 {
        display:none;
    }
    .swagger-ui .opblock-body select {
        min-width: 161px;
    }
    .swagger-ui .opblock .opblock-section-header {
        padding: 8px 7px;
    }
    .swagger-ui .opblock .opblock-summary-method {
        font-size: 10px;
        min-width: 43px;
        padding: 6px 2px;
    }
    div.opblock-tag-section .markdown {
        display:none;
    }
    .no-image-padding {
        padding: 15px 0px;
    }
    .swagger-ui .btn {
        padding: 5px 9px;
    }
    .swagger-ui .scheme-container .schemes>label select {
        min-width: 90px;
    }
    .no-image-padding {
        display:block;
    }
    .container-fluid {
        padding-right: 30px !important;
        padding-left: 30px !important;
    }
    .numberCircle li::before{
        width: 0px;
    }
    .title-slogan {
        padding-top: 63px;
    }
    .left-banner-content h5{
        padding-top: 50px;
    }
    .navbar-toggle {
        margin-top: -60px;
        margin-right: -11px;
    }
    nav#block-open-banking-portal-main-menu{
        margin-left: 0px;

    }
    .Top-menu-account{
        float: none;
        margin-right: 0px;
    }
    .get-started-body p{
        padding: 0px;
    }
    .image-padding{
        display: none;
    }
    .api-product-padding{
        padding: 0px;
    }
    .container-fluid.api-home-page-content {
        padding-right: 30px;
        padding-left: 30px;
    }
    .col-sm-3.btn.block-btn.sign-up-button ,.right-banner-content-footer .button-padding .block-btn{
        margin-top: 5px;
    }
    .numberCircle li::before{
        width: 0px;
    }
    .numberCircle li{
        margin-left: 45%;
    }
    .api-header-icon{
        margin-top: 10%;
        padding: 10% 10%;
        width: auto;
        height: auto;
    }
    .experience-banking-api-header .experience-banking-api-block{
        padding: 30px 30px;
    }
/*    .contact-forms{
        margin-top: -43px;
    }*/
    .contact-forms {
        height: auto;
        width: auto;
        margin-top: 67px;
        margin-left: 15px;
    }
    .contact-us-icon-shadow img{
        margin-top: -25px;
    }
    .contact-us-icon img {
        width: 13%;
        margin-left: 27px;
        margin-top: -21px;
    }
    .contact-body {
        font-size: 15px;
        min-height: 120px;
    }
    .contact-forms a{
        margin-top: -41px;
    }
    img.playimage {
        margin-top: -40%;
        margin-left: 36%;
        width: 20%;
    }
    div#drupal-modal--content {
        width: 100% !important;
        margin: 10% 16%;
    }
    .login-right-form button{
        padding-right: 100px;
        padding-left: 100px;
    }
    .register-form-popup strong{
        padding-left: 0px;
    }
    .register-title {
        text-align: center;
    }
    .form-item-pass-pass1 .password-field, .form-item-pass-pass1 .password-strength {
        width: 229px;
    }
    .form-item-pass-pass2 {
        width: 104%;
        margin-left: 0px;
        margin-top: 0px;
    }
    .register-form-popup .form-submit{
        margin-left: 0px;
        padding-left: 10px;
        padding-right: 10px;

    }
    .webform-submission-get-in-touch-form .webform-button--submit{
        margin-left: 5%;
    }
    #modal1 .modal-dialog{
        width: 83% !important;
    }
    video#popupvid {
        height: 140px;
    }
    iframe#popupvid {
        height: 143px;
    }
    .my-apps-keys > table > tbody > tr > td {
        font-size: 0.9rem;
    }
    .my-apps-keys > table > tbody > tr > th{
        font-size: 1.2rem;
    }
    .my-app-list-details .panel-heading > ul > li > a {
        font-size: 1.2rem;
    }
}

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
   .title-slogan {
    padding-top: 51px;
    }
    .navbar-toggle {
        margin-top: -60px;
    }
     nav#block-open-banking-portal-main-menu{
        margin-left: 0px;

    }
    .Top-menu-account{
        float: none;
        margin-right: 0px;
    }
    .numberCircle li::before{
        width: 0px;
    }
    .numberCircle li{
        margin-left: 45%;
    }
     .api-header-icon{
        margin-top: 10%;
        padding: 10% 10%;
        width: auto;
        height: auto;
    }

}

@media (max-width: 768px){
    .report-bug, .business-enquiry, .general-enquiry, .request-new-feature {
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
        padding: 30px;
        margin-left: 50px;
        margin-right: 50px;
        margin-bottom: 50px;
        margin-top: 50px;
    }
}
/* ----------- iPad Pro ----------- */
/* Portrait and Landscape */
@media only screen
and (min-width: 1024px)
and (max-height: 1366px)
and (orientation: portrait)
and (-webkit-min-device-pixel-ratio: 1.5) {
    .Top-menu-account {
        margin-top: -50px !important;
    }
}
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {

    .Top-menu-account {
        float: left !important;
        margin-left: 345px !important;
    }
}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
    .api-product-homepage .api-content{
        min-height: 480px;
    }
    .api-product-homepage .api-page-0, .api-product-homepage .api-page-1, .api-product-homepage .api-page-2 {
        padding: 115px 10px;
    }
    .api-product-homepage .button-padding .block-btn{
        padding: 8px 22px;
    }
/*    .numberCircle li::before{
        width: 0px;
    }*/
    .numberCircle li{
        margin-left: 45%;
    }
    .api-header-title{
        font-size: 13px;
    }
     .api-header-icon{
        margin-top: 10%;
        padding: 10% 10%;
        width: 109px;
        height: 145px;
        margin-left: -16px;
        font-size: 10px;
        width: 109px;
    }
    .step-4 .numberCircle li:first-child::before {
        display: none;
    }
    .numberCircle li::before{
        width: 113px;
    }
    img.playimage {
        margin-top: -41%;
        position: absolute;
        z-index: auto;
        margin-left: 30%;
    }
    .contact-forms{
        margin-left: 63px;
    }
    div#drupal-modal--content {
        width: 116%;
    }

}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
    .api-product-homepage .api-content{
        min-height: 442px;
    }
/*    .numberCircle li::before{
        width: 0px;
    }*/
    .numberCircle li{
        margin-left: 45%;
    }
     .api-header-icon{
       margin-top: 10%;
        padding: 10% 10%;
        width: 146px;
        height: 146px;
        margin-left: -16px;
    }
    .step-4 .numberCircle li:first-child::before {
        display: none;
    }
    .numberCircle li::before{
        width: 113px;
    }
    img.playimage {
        margin-top: -39%;
        margin-left: 36%;
    }
    .contact-forms{
        margin-left: 27px;
    }
    div#drupal-modal--content {
        width: 143%;
    }

}

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
/*    .footer-block-menu .menu-footer-margin{
        padding-left: 370px;
    }*/

}

@media (min-width: 768px) {
    .form-inline .form-control {
        display: inline-block;
        width: 100%;
        vertical-align: middle;
    }
}