<div class="contact-us-forms">
<div class="contact-us-form-top">
  <div class="col-sm-6 form-title">
    <h2>General Enquiry</h2>
  </div>
  <div class="col-sm-6">
    <button class="contact-us--back-btn"><a href="contact-us"><img src="{{base_path ~ directory }}/images/contacticon.png"> Back to contact us </a></button>
  </div>
  <p>We'll review your enquiry and contact you if more information is required.
  </p>
</div>
<div class="contact-form">
  <div class="row form-report">
    <form{{attributes}}>
      {{children}}
      {{ element.form_build_id }} {# required #}
      {{ element.form_id }}
    </form>
  </div>
</div>
</div>



