<div class="login-page reset-pass">
  <div class="col-sm-6 col-md-5 left-side-image">
    <img src="{{base_path ~ directory }}/images/lginimg.png">
  </div>

  <div class="col-sm-6 col-md-7 right-side-form">
    <section class="open_banking_header">
      <header{{ navbar_attributes.addClass(navbar_classes) }} id="navbar" role="banner">
        {% if not navbar_attributes.hasClass(container) %}
        <div class="{{ container }}">
          {% endif %}
          <div class="navbar-header">
            {{ page.navigation }}
            {# .btn-navbar is used as the toggle for collapsed navbar content #}
            {% if page.navigation_collapsible %}
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="sr-only">{{ 'Toggle navigation'|t }}</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            {% endif %}
          </div>
        </div>
      </header>
    </section>
    <div class="login-form">
      <h2>Change Password</h2>
      {# Header #}
      {#{% if page.header %}#}
        {#{% block header %}#}
          {#<div class="col-sm-12" role="heading">#}
            {#{{ page.header }}#}
          {#</div>#}
        {#{% endblock %}#}
      {#{% endif %}#}
      {# Content #}
      {% block content %}
        <a id="main-content"></a>
        {{ page.content }}
      {% endblock %}
    </div>
  </div>
</div>